<h4 class="attribute-name box-title">{{localize "DND5E.Initiative"}}</h4>
<span class="attr-value">
	<span class="skill-mod">{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
</span>