<h4 class="attribute-name box-title">
	<a class="initiative">{{localize "DND5E.Initiative"}}</a>
</h4>
<span class="attr-value">
	<span class="init-icon far {{prof-icon flags.initProfMult}}" data-skill-value="{{ flags.initProfMult }}"></span>
	<span class="init-mod">{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
</span>